p{
  margin: 0;
}
.plot{
    fill: #FFFFFF;
    }
    .axis path,
    .axis line,
    .axis2 path,
    .axis2 line{
      fill: none;
        stroke: #2F1501;
        shape-rendering: crispEdges;
        }
    .axis text,
    .axis2 text {
        font-family:  SourceSansPro-Bold;
        font-size: 14px;
        fill: #2F1501;
        }

    .x.axis path {
      display: none;
    }
    .y.axis path{
      display: none;
      }
    .y.axis2 text,
    .y.axis2 path,
    .x.axis2 path{
      display: none;
      }
    .tick line{
      opacity: 0.2;
    }
    .line {
      fill: none;
      stroke: steelblue;
      stroke-linejoin: round;
      stroke-linecap:round;
    }
    .menu{
      margin-left: 20px;
      font-family: SourceSansPro-Light;
      font-size: 13pt;
      color: #2F1501;

    }
    .menuchoice {
        font-family: SourceSansPro-Bold;
        font-size: 25pt;
        margin-bottom:0px;
        margin-right: 3pt;
        border: none;
        background: none;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        color: #2F1501;
    }
    .menuchoice option{
      font-family: SourceSansPro-Light;
      font-size: 10pt;
    }

    .legend,
    .source {
        font-family: SourceSansPro-Light;
        font-size: 10pt;
        margin-bottom:0px;
        color: #2F1501;
        }
    .logo{
      width: 140px;

    }
    .barvalue,
    .delbarvalue,
    .planbarvalue {
      font-family: SourceSansPro-Light;
      font-size: 14px;
      margin-bottom:0px;
      color: #2F1501;
          }
    .legend-off {
        font-family: SourceSansPro-Light;
        font-size: 10pt;
        margin-bottom:0px;
        color: #2F1501;
        }
    .legend-select {
        font-family: SourceSansPro-Bold;
        font-size: 10pt;
        margin-bottom:0px;
        color: #2F1501;
        }
    @font-face {
      font-family: 'SourceSansPro-ExtraLight';
      font-style: normal;
      font-weight: 200;
      src: url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGC-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
    }
    @font-face {
      font-family: 'SourceSansPro-Light';
      font-style: normal;
      font-weight: 300;
      src: url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
    }
    @font-face {
      font-family: 'SourceSansPro-Bold';
      font-style: normal;
      font-weight: 700;
      src: url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
    }
